<!-- Horizontal material form -->
<!-- Section: form gradient -->
<section class="form-gradient mb-5">

    <!--Form with header-->
    <mdb-card class="scrape">

        <!--Header-->
        <div class="header peach-gradient">

            <div class="row d-flex justify-content-center">
                <h3 class="white-text mb-0 py-5 font-weight-bold">Confledis</h3>
            </div>

        </div>
        <!--Header-->

        <mdb-card-body class="mx-4">

            <div class="md-form">
                <input type="text" [(ngModel)]="name" id="form106" class="form-control" mdbInput>
                <label for="form106">Name</label>
            </div>

            <div class="md-form">
                <input type="text" [(ngModel)]="price" id="form106" class="form-control" mdbInput>
                <label for="form106">Price</label>
            </div>

            <div class="md-form">
                <input type="text" [(ngModel)]="quantity" id="form106" class="form-control" mdbInput>
                <label for="form106">Quantity</label>
            </div>

            <!--Grid row-->
            <div class="row d-flex align-items-center mb-3 mt-4" style="margin-bottom: 60px;">

                <!--Grid row-->
            <div class="col-md-12">
                <div class="text-center">
                    <button type="button" (click)='addproduct()' mdbBtn color="grey" class="z-depth-1a">Add product</button>
                </div>
            </div>


            </div>
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button type="button" (click)='listproducts()' mdbBtn color="grey" class="z-depth-1a">List products</button>
                                </div>
                            </div>
                            <!--Grid column-->
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="md-form">
                        <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput />
                        <label for="search">Search</label>
                        <button type="button" (click)='search()' mdbBtn color="grey" class="z-depth-1a">Search product</button>

                    </div>
                </div>
            </div>
            <table mdbTable *ngIf="showtable == true" id='excel-table'>
                <thead>
                    <tr>
                        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol *ngFor="let el of products">
                        <th scope="row" *ngIf="el['id'] != null">{{el['id']}}</th>
                        <td *ngIf="el['name'] != null">{{el['name']}}</td>
                        <td *ngIf="el['price'] != null">{{el['price']}}</td>
                        <td *ngIf="el['quantity'] != null">{{el['quantity']}}</td>
                        <td><button mdbBtn type="button" (click)="deleteProduct(el['id'])" color="danger" mdbWavesEffect>Delete</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </mdb-card-body>

    </mdb-card>
    <!--/Form with header-->

</section>
<!-- Section: form gradient -->